/* Root */
* {
  margin: 0;
  padding: 0;
}
/* Elements */
body {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: 
  ". main .";
}

main {
  grid-area: main;
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

figure {
  display: flex;
}

h1 {
  text-align: center;
}

h2 {
  height: 5em;
  width: 5em;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
/* Ids */
#box1,
#box2,
#box3 {
  border-top: none;
}

#box1 {

  border-left: none;
}

#box3 {
 border-right: none;
}

#box4 {
  border-left: none;
}

#box6 {
  border-right: none;
}

#box7,
#box8,
#box9 {
  border-bottom: none;
}

#box7 {
  border-left: none;
}

#box9 {
  border-right: none;
}

/* Media Queries */
@media screen and (max-width: 400px) {
  h2 {
    height: 1.25em;
    width: 1.25em;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    ". row1 ."
    ". row2 ."
    ". row3 .";
  }
  #row1 {
    grid-area: row1;
  }
  #row2 {
    grid-area:row2;
  }
  #row3 {
    grid-area:row3;
  }
}