* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: 
  ". main .";
}

main {
  grid-area: main;
  display: grid;
  justify-content: center;
  align-items: center;
}

h2 {
  height: 5em;
  width: 5em;
  border: solid black;
}

